#include <behaviors.dtsi>
#include <behaviors/rgbled_widget.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>

#define DEF_L 0

&key_repeat {
    usage-pages = <HID_USAGE_KEY HID_USAGE_CONSUMER>;
};

/ {
    behaviors {
        fn_btns: function_buttons {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&ind_bat>, <&studio_unlock>, <&bt BT_CLR>;
            label = "Fn buttons (battery, unlock, bt clr";
        };
        rpt: hold_tap_key_repeat {
            compatible = "zmk,behavior-hold-tap";
            label = "Repeat when held";
            #binding-cells = <2>;
            flavor = "hold-preferred";
            tapping-term-ms = <200>;
            bindings = <&key_repeat>, <&kp>;
            
        };
    };

    combos {
        compatible = "zmk,combos";
        fn_combo {
            timeout-ms = <150>;
            key-positions = <0 1>;
            bindings = <&fn_btns>;
        };
    };

    keymap {
        compatible = "zmk,keymap";
        default_layer {
            display-name = "Base";
            bindings = <
                // &rpt &key_repeat C_VOLUME_UP    &rpt &key_repeat C_VOLUME_DOWN
                &kp C_VOLUME_UP    &kp C_VOLUME_DOWN
            >;
        };
    };
};
