#include "booxiedaisy-layouts.dtsi"
#include <dt-bindings/zmk/matrix_transform.h>

&physical_layout0 {
    transform = <&matrix_transform0>;
};

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    kscan0: kscan_composite {
        compatible = "zmk,kscan-composite";
        rows = <1>;
        columns = <2>;

        // this is the switch between d1 and d3
        matrix {
            kscan = <&kscan1>;
        };

        // this is the switch between GND and d10
        direct {
            kscan = <&kscan2>;
            col-offset = <1>;
        };
    };

    kscan1: kscan_matrix {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        col-gpios = <&xiao_d 1 GPIO_ACTIVE_HIGH>;
        row-gpios = <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
    };

    kscan2: kscan_direct {
        compatible = "zmk,kscan-gpio-direct";
        wakeup-source;
        input-gpios = <&xiao_d 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};